# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*

# build output
dist/
.vite/

# testing
coverage/
__screenshots__/
.vitest-attachments/
.vitest/

# misc
.DS_Store
*.pem

# debug
*.log
npm-debug.log*

# typescript
*.tsbuildinfo

# Intellij
.idea

# VisualStudioCode
.vscode-test
.vscode
.history
